@import '../utils/index.scss';

.lodging-section {
  max-width: 1640px;
  margin: auto;

  .lodging-container {
    margin: 2rem $margin-desktop;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $secondary;
    border-radius: 25px;
    padding: 3.1rem 5rem;

    @include on-tablet() {
      margin: 1rem $margin-mobile;
      background-color: $white;
      padding: 0;
    }
  }
}
