@import '../utils/index.scss';

.hero-section {
  margin: 0 $margin-desktop 2rem;

  @include on-tablet() {
    margin: 0 $margin-mobile;
  }

  .content {
    position: relative;

    .background {
      img {
        border-radius: 25px;
        filter: brightness(0.7);
        object-fit: cover;
        width: 100%;
        min-height: 10rem;

        @include on-tablet() {
          border-radius: 10px;
        }
      }
    }

    .text {
      @include position();
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;

      @include on-tablet() {
        justify-content: flex-start;
        text-align: left;
        padding: 0 5%;

        span {
          display: block;
        }
      }

      h1 {
        font-size: 4.8rem;
        color: $white;

        @include on-tablet() {
          font-size: 2.4rem;
        }
      }
    }
  }
}

.lodging-section {
  max-width: 1640px;
  margin: auto;

  .lodging-container {
    margin: 2rem $margin-desktop;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $secondary;
    border-radius: 25px;
    padding: 3.1rem 5rem;

    @include on-tablet() {
      margin: 1rem $margin-mobile;
      background-color: $white;
      padding: 0;
    }
  }

  .lodging-thumb {
    flex: 0 1 32%;
    height: 34rem;
    position: relative;
    display: flex;
    align-items: flex-end;
    background-color: $primary;
    border-radius: 10px;
    padding: 2rem;
    margin: 2.5rem 0;

    @include before() {
      @include position();
      position: absolute;
      background: rgb(0, 0, 0);
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.49763655462184875) 100%
      );
      border-radius: 10px;
    }

   @include on-tablet() {
       flex: 0 1 49%;
       margin: 1rem 0;
    }

    @include on-mobile() {
      flex: 0 1 100%;
    }

    .title {
      color: $white;
      font-size: 1.8rem;
      width: 50%;
      z-index: 1;
    }
  }
}
