@import '../utils/index.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem $margin-desktop 2.5rem;

  @include on-tablet() {
    margin: $margin-mobile;
  }
}

.logo {
  @include on-tablet() {
    width: 145px;
  }
}

ul {
  display: flex;
  color: $primary;
  font-size: 2.4rem;

  @include on-tablet() {
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  li {
    padding: 0 3rem;

    &:last-of-type {
      padding-right: 0;
    }

    @include on-tablet() {
      padding: 0 0.5rem;
    }

    a {
      &.current {
        text-decoration: underline;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
